In [42]:
# importing dependencies
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings ('ignore')

In [43]:
# reading dataset
df = pd.read_csv('FoodBalance.csv', encoding='iso-8859-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [44]:
df.shape

(60943, 12)

In [45]:
df.Item.unique()

array(['Population', 'Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Wheat and products',
       'Rice and products', 'Barley and products', 'Maize and products',
       'Rye and products', 'Oats', 'Millet and products',
       'Sorghum and products', 'Cereals, Other', 'Starchy Roots',
       'Cassava and products', 'Potatoes and products', 'Sweet potatoes',
       'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet',
       'Sugar & Sweeteners', 'Sugar (Raw Equivalent)',
       'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas',
       'Pulses, Other and products', 'Treenuts', 'Nuts and products',
       'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)',
       'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Oilcrops, Other',
       'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil',
       'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables',
       'Tomatoes and products', 'Onions', 'Vegetables, Other',
       'Fruits - Excluding Wine', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products',
       'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves',
       'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer',
       'Beverages, Fermented', 'Beverages, Alcoholic',
       'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat',
       'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals',
       'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream',
       'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish',
       'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other',
       'Crustaceans', 'Cephalopods', 'Molluscs, Other',
       'Aquatic Products, Other', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Miscellaneous', 'Infant food',
       'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'],
      dtype=object)

In [46]:
# unique countries
df.Area.nunique()

49

In [47]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [48]:
#year with least correlation with Element Code
df1 = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code']
df1.drop('Element Code').idxmin()

'Y2016'

In [49]:
# mean and standard deviation across the whole dataset for the year 2017
data_2017 = df[['Y2017']]

mean_2017 = data_2017.mean().values[0]
std_dev_2017 = data_2017.std().values[0]

mean_2017 = round(mean_2017, 2)
std_dev_2017 = round(std_dev_2017, 2)

print (mean_2017)
print (std_dev_2017)

140.92
1671.86

In [50]:
#area with 7th lowest sum
data_2017_area = df[['Y2017', 'Area']]

sum_2017_by_area = data_2017_area.groupby('Area')['Y2017'].sum()

seventh_lowest_area = sum_2017_by_area.sort_values().index[6]

seventh_lowest_area

'Guinea-Bissau'

In [51]:
# total sum of wine produced in 2015 and 2018
wine_production = df[df['Item'] == 'Wine']

wine_2015_sum = wine_production['Y2015'].sum()
wine_2018_sum = wine_production['Y2018'].sum()

print (wine_2015_sum)
print (wine_2018_sum)

4251.8099999999995
4039.3199999999997

In [52]:
# area with highest sum
data_2017_area = df[['Y2017', 'Area']]

sum_2017_by_area = data_2017_area.groupby('Area')['Y2017'].sum()

highest_sum_area = sum_2017_by_area.idxmax()

print(highest_sum_area)

Nigeria

In [53]:
# number and percentage of missing data in 2014
missing_count = df['Y2014'].isnull().sum()

total_entries = df['Y2014'].shape[0]

percentage_missing = (missing_count / total_entries) * 100

print(missing_count)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

1589
Percentage of missing data in 2014: 2.607%

In [54]:
# protein supply quantity in Madagascar 2015
protein_madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015']

total_protein_madagascar_2015 = protein_madagascar_2015.sum()

total_protein_madagascar_2015

173.04999999999998

In [55]:
processing_data_2017 = df[(df['Element'] == 'Processing')]['Y2017']

total_processing_2017 = processing_data_2017.sum()

total_processing_2017

292836.0